<header>
  <nav class="navbar navbar-light" style="background-color: lightgrey">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <span style="color:red">Русский</span> блог
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'author' %}">Об авторе</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tech' %}">Технологии</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'new_post' %}">Новая запись</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
                <a class="nav-link link-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.username }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="nav-link link-light" href="{% url 'profile' '{{ user.username }}' %}">Профиль</a></li>
                    <li><a class="nav-link link-light" href="{% url 'password_change' %}">Изменить пароль</a></li>
                    <li><a class="nav-link link-light" href="{% url 'logout' %}">Выйти</a></li>
                </ul>
            </div>

        <li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link link-light" href="{% url 'login' %}">Войти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="{% url 'signup' %}">Регистрация</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
