{% extends 'base.html' %}
{% block title %}
Русский блог
{% endblock %}
{% block content %}
<div class='container'>
    <div class='row'>
{% for post in posts %}
        <div class="col">
    <div class="card col-6">
        <h5 class="card-header">{{ post.author }}</h5>
        <div class="card-body">
            <h6 class="card-subtitle">{{ post.date }}</h6>
            <div class='card-title'>
                {{ post.name }}
            </div>
            <div class="card-text">
                {{ post.text }}
            </div>
    </div>
         </div>
            </div>
{% endfor %}
    </div>
    </div>
{% endblock %}