<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Подключены иконки, стили и заполенены мета теги -->
    <title>Профайл пользователя </title>
  </head>
  <body>
  {% extends 'base.html' %}
  {% block content %}
    <main>
        <h1>Все посты пользователя {{ profile_user.get_username }} </h1>
        <h3>Всего постов: {{ count_posts }} </h3>
      <div class="container">
        <div class='row'>
          {% for post in posts %}
          <div class="col-sm-6">
            <div class="card">
              <h5 class="card-header"><a href="{% url 'profile' post.author.get_username %}">
                {{ post.author.get_username }}
              </a></h5>
              <div class="card-body">
                <h5 class='card-title'>
                {{ post.name }}
            </h5>
            <h6 class="card-subtitle">{{ post.date }}</h6>
            {% if post.group %}
                <h6 class="card-title">Группа: <a href="{% url 'group_profile' post.group.id %}">
                  {{ post.group.name }}
                  </a></h6>
            {% endif %}
            {% if not post.group %}
                <h6 class="card-title">Без группы</h6>
            {% endif %}
            <div class="card-text">
                {{ post.text|slice:"0:30" }} <a href="{% url 'post_detail' post.id %}">подробнее </a>
            </div>
    </div>
         </div>
            </div>
        <hr>
        {% endfor %}
        {% include 'paginator.html' %}
      </div>
        </div>
    </main>
  </body>
{% endblock %}
</html>
